# .env.example
DATABASE_URL=postgresql://postgres:59aa56193be5bdab4e78060d6feeaf81@db.ezlbmzixlnhxlburwdqy.supabase.co:5432/postgres
JWT_SECRET=4KF*M357tM>I**

# SMTP Configuration

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=41f6f6571853c7
SMTP_PASS=46506f7625c402
SMTP_FROM="Serrinha Conectada <no-reply@serrinha.com>"

# S3 Configuration

S3_ENDPOINT=https://minioapi.capacitaja.com
S3_ACCESS_KEY=capacita
S3_SECRET_KEY=0408941977Iphone5s*
S3_BUCKET=prefeitura
S3_REGION=us-east-1
S3_PUBLIC_BASE_URL=https://minioapi.capacitaja.com

# Admin Configuration
ADMIN_RESET_TOKEN_TTL_MINUTES=120
